<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>ReqUML - Error</title>
		<link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.cdnfonts.com/css/caviar-dreams" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        <link rel="icon" href="/media/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
	</head>
	<body>
        <div class="welcome-window">
            <div class="welcome-description">
                <img alt="Logo" src="/media/logo.png">
                <h1>ReqUML</h1>
                <h2>Oh no, there has been an error...</h2>
                <p>We appologise for any inconvenience this might have caused. If the problem persists, please contact us at <b>help@requml.co.uk</b>. We are working hard everyday on improving our service. Thank you for your understanding.</p>
            </div>
            <div class="welcome-graphic">
                <!-- Royalty free graphics from https://2.flexiple.com/scale/all-illustrations -->
                <img src="/media/error.svg" alt="Error">
            </div>
        </div>
	</body>
</html>