<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>ReqUML - Use Case Diagrams</title>
		<link rel="stylesheet" href="/styles.css">
        <script>const orderUseCases = '<%- useCases %>';</script>
	</head>
	<body>
		<a id="link"></a>
		<img crossorigin="anonymous" src="/media/actor-sm.png" id="actorIcon">
		<div id="canvas-start"></div>

		<script src="/scripts/fabric.min.js"></script>
		<script src="/scripts/uc-diagrams.js"></script>
	</body>
</html>